.inputSection {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  position: relative;
  width: 800px;
}

.inputIcon {
  position: absolute;
  top: 25px;
  left: 25px;
}

.inputField {
  width: 800px;
  height: 70px;

  border-radius: 15px;
  padding: 16px 20px 16px 60px;

  border: 1px solid var(--color-primary);
  outline: none;
}

.inputButton {
  position: absolute;
  top: 14px;
  right: 22px;
}

.infoSection {
  background-color: var(--color-white);
  padding: 40px;
}

.favoriteHeading {
  max-width: 1060px;
  height: 35px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoriteButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.addButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.folderHeading {
  max-width: 1060px;
  height: 30px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderName {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-semibold);
}

.folderButtons {
  display: flex;
  gap: 15px;
}

.folderButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-700);
}

.cardGrid {
  width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
